.notice{
	border: 2px solid black;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 10px;
    width: 200px;
}  

.notice-header{
    background-color: pink;
    border-radius: 5px 5px 0px 0px;
    padding: 5px;
    color: rgb(0, 0, 0);
}

.notice-body{
	background-color: white;
	color:#302929;
}

.channel{
	margin-bottom:20px;
	border-top:2px solid black;
	border-bottom:2px solid black;
	border-right:2px solid black;
	border-left:2px solid black;
	background-color: #fffefe;
	padding-bottom:20px;
	padding-top:10px;
	color: white;
}

.channel-body{
	background-color: white;
	padding-left: 30px;
	padding-right:30px;
	color: white;
}

.channel-title{
	padding-left: 30px;
	padding-right:30px;
	margin-bottom:5px;
	background-color: #c48424;
	color: white;
}

.shortnotice{
	background-color: #f8f9fa;
	color: black;
	border: 2px solid black;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.slick-slide {
    height: inherit !important;
}

.slick-track{
    display: flex !important;
}

.shortnoticeHeight{
	height: 2064px;
}

.form-control-shortnotice {
    display: block;
    width: 100%;
    height: calc(1.5em+ 0.75rem+ 2px);
    padding: 2.375rem 0.75rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 66.5;
    color: #495057;
    header:white;
	border-top:2px solid black;
	border-right:2px solid black;
	border-left:2px solid black;
    background-color: #fff;
    background-clip: padding-box;
    border: 9px solid black;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.short-notice-slider{
	background-color:#c48424;
}
.notice-card {
    border: 2px solid white;
    -webkit-box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
    margin: 10px;
}
.model-close{
	color: white;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
