.notice{
	border: 2px solid black;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
    margin: 10px

}  

.notice-header{
    background-color: yellow;
    border-radius: 5px 5px 0px 0px;
    padding: 5px;
    color: violet
}

.notice-body{
	background-color: white;
	color:#302929;
}

.channel{
	margin-top:10px;
	margin-bottom:20px;
	border-top:2px solid black;
	border-bottom:2px solid black;
	background-color: #8c8c8c;
	padding-left: 30px;
	padding-right:30px;
	padding-bottom:20px;
	padding-top:10px;
	color: white;
}

.channel-title{
	padding-top:5px;
	margin-bottom:5px;
	border-top:2px solid black;
	border-bottom:2px solid black;
	background-color: #2e2e2e;
	color: white;
}

.shortnotice{
	background-color: yellow;
	color: black;
	border: 2px solid black;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.slick-slide {
    width: 200px;
    height: inherit !important;
}

.slick-track{
    display: flex !important;
}


