.notice{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 10px;
    width: 200px;
}  

.notice-header{
    background: #c0eaff;
    padding: 5px;
    color: black;
    margin-left:5px;
    margin-right:5px;
}
.notice-title{
	margin-bottom:0px;
	
}

.notice-body{
	background-color: white;
	padding: 10px 5px 0px 5px;
	font-weight: 500;
    line-height: 1.42857143;
    color: #333;
	font-size:18px;
}

.channel{
	margin-bottom:20px;
	background-color: white;
	padding-bottom:20px;
	color: white;
	border-radius: 10px;
    box-shadow: 0 0 3px rgb(0 0 0 / 20%);

}

.channel-body{
	background-color: white;
	padding-left: 30px;
	padding-right:30px;
	color: white;
}


.channel-title,.short-notice-slider h2, .card-title{
	padding: 7px 10px;
	color: white;
	background: #4e70f9 !important;
	margin-top: 0;
    margin-bottom: 0!important;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.shortnotice{
	background-color: white;
	color: black;
	/*border: 2px solid black;*/
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	margin-bottom: 0;
    padding: 3px 0 4px 0;
    border-bottom: 1px dotted #c60;
	margin-left:5px;
	margin-right:5px;
}
.shortnotice P{margin:0; padding:0px;}

.slick-slide {
 box-shadow: 0 0 3px rgb(0 0 0 / 20%);
    height: inherit !important;
}

.slick-track{
    display: flex !important;
}

.shortnoticeHeight{
	/**height: 2064px;*/
	height:auto;
}

.form-control-shortnotice {
    display: block;
    width: 100%;
    height: calc(1.5em+ 0.75rem+ 2px);
    padding: 2.375rem 0.75rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 66.5;
    color: #495057;
    header:white;
	border-top:2px solid black;
	border-right:2px solid black;
	border-left:2px solid black;
    border: bottom 2px solid black ;
    background-color: white;
    background-clip: padding-box;
    border: 9px solid black;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.short-notice-slider{
	border-radius: 10px;
    box-shadow: 0 0 3px rgb(0 0 0 / 20%);
    margin-bottom: 0!important;
    border-radius: 10px;
	background-color: white;
}
.notice-card {
    border: 2px solid white;
    -webkit-box-sizing: border-box;
    background-color: #f8f9fa;
    border-top: black;
    border-radius: 5px;
    margin: 10px;
}
.model-close{
	color: black;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
.slick-prev:before, .slick-next:before {
    color: #4e70f9;
}
.navbar{background-color:#4e70f9!important;padding: 5px 0px !important;}
.navbar a{color: white!important;}
 .slick-prev:before {
    content: "<"!important;
    color: #4e70f9!important;
    font-size: 30px!important;
    font-family: 'FontAwesome'!important;
	font-weight:bold;
  }

  .slick-next:before {
    content: ">";
    color: #4e70f9!important;
    font-size: 30px;
    font-family: 'FontAwesome';
	font-weight:bold;
  }

.btn-primary, .card-body button,.card-body .btn, .btn-primary {background: #4e70f9 !important;border-color: #4e70f9 !important;}

a.dropdown-item{color:#000000!important;}
#dropdownMenuLink,.dropdown-item{font-size:1.5rem;}
#dropdownMenuLink{background:#000;border-radius:4px;}
.card-body button.slick-arrow{background:none!important;}
.dropdown-item:active {background-color: #4e70f9 !important;}
.dropdown-menu{left:-20px;}